.root {
    -fx-font-family: "Arial", sans-serif;
    -fx-font-size: 14px;
    -fx-padding: 10px;
}

.label {
    -fx-font-family: "Arial", sans-serif;
    -fx-font-size: 14px;
}

.text-field, .combo-box, .button {
    -fx-font-family: "Arial", sans-serif;
    -fx-font-size: 14px;
}

.title-label {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.message-label {
    -fx-text-fill: #318a2b;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #2d89ef;
    -fx-text-fill: white;
    -fx-padding: 8px 16px;
}